// Colors
$themeColor: #1fbba6;
$textColor: #5a6066;
$borderColor: #a5a5a5;
$placeholderColor: #a5a5a5;
$disabledColor: #6b777b;

// space
$space: 20px;

// Screen Sizes for Responsive laypout
$small: 400px;
$medium: 650px;
$large: 950px;
$xlarge: 1210px;


// @import './variables.scss';
// @media only screen and (max-width: $xlarge) {
//
// }
// @media only screen and (max-width: $large) {
//
// }
// @media only screen and (max-width: $medium) {
//
// }
// @media only screen and (max-width: $small) {
//
// }