@import "../../../variables.scss";

input, textarea {
	font-size: 26px;
	color: $textColor;
	padding: 10px;
	border: 1px solid $borderColor;
	background-color: white;
	border-radius: 2px;
	width: 100%;
}
::-webkit-input-placeholder {
	color: $placeholderColor;
}
:-moz-placeholder {
	color: $placeholderColor;
	opacity: 1;
}
::-moz-placeholder {
	color: $placeholderColor;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $placeholderColor;
}